# mqttlogger - logging of MQTT traffic

[Unit]
Description=mqttlogger - logging of MQTT traffic
After=remote-fs.target

[Service]
Type=simple
ExecStart=/opt/mqttlogger/mqttlogger.py
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
